<%- include('layouts/header'); %>

<div class="container bg-light mt-4 py-3 px-5">
  <div class="row">
    <div class="col">
      <h5 class="display-5">Daftar Asset Keluarga</h5>
    </div>
  </div>

  <table class="table mt-4 text-center">
    <thead>
      <tr>
        <th>#</th>
        <th>ASSET</th>
        <th>HARGA</th>
        <th>PEMILIK</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      <% let n = 1; result.forEach(data => { %>
        <tr>
          <th><%= n %></th>
          <td><%= data.asset.toUpperCase(); %></td>
          <td>Rp. <%= new Intl.NumberFormat().format(data.harga) %></td>
          <td>
              <a href="/members/detail/<%= data.id_member %>">
                <%= data.nama.toUpperCase(); %>
              </a>
          </td>
          <td>
            <a class="btn btn-outline-danger mr-1" onclick="return confirm('Are you sure ?')" href='/assets/delete/<%= data.id_asset %>/<%= data.id_member %>'>Hapus</a>

          </td>
        </tr>
      <% n++ }); %>
    </tbody>
  </table>
  <% if(result.length == 0) { %>
    <p class="text-center text-danger mt-4"><i><b>Tidak Ada Data Asset</b></i></p>
  <% } %>
</div>
<%- include('layouts/footer') %>
