<%- include('layouts/header') %>

<!-- ----------------DETAIL DATA---------------- -->
<div class="container mt-3 mb-3">
  <a href="/" class="btn btn-primary"><- Back</a>
</div>
<div class="container bg-light mb-3 mb-5 py-2">
  <div class="row">
    <div class="col-md-10">
      <h3>Data Diri</h5>
    </div>
  </div>
  <table class="table mt-2 text-center">
    <thead>
      <tr>
        <th>Nama</th>
        <th>Jenis Kelamin</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>

        <tr>
          <td><%= result.nama.toUpperCase(); %></td>
          <td><%= result.jenis_kelamin.toUpperCase() %></td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editData">
              <b>Edit</b>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="editData" tabindex="-1" aria-labelledby="editDataLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Data Anggota Keluarga</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form method="post" action="/members/update/<%= result.id; %>">
                      <div class="mb-3">
                        <input type="text" class="form-control" id="name" name="nama" placeholder="Your Name" value="<%= result.nama; %>">
                      </div>
                      <div class="mb-3">
                        <select class="form-select" name="gender" aria-label="Default select example">
                          <option selected value="<%= result.jenis_kelamin; %>"><%= result.jenis_kelamin; %></option>
                          <option value="laki laki">Laki Laki</option>
                          <option value="perempuan">Perempuan</option>
                        </select>
                      </div>
                      <button type="submit" class="btn btn-primary">Kirim</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
    </tbody>
  </table>
</div>

<!-- ----------------DETAIL ASSETS---------------- -->
<div class="container bg-light mt-5 py-3">
  <div class="row">
    <div class="col-md-10">
      <h3>Data Asset</h3>
    </div>
    <div class="col-md-2">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#tambahAsset">
        <b>Tambah Asset</b>
      </button>


      <!-- Modal -->
      <div class="modal fade" id="tambahAsset" tabindex="-1" aria-labelledby="tambahAssetLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Tambah Asset</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="post" action="/assets/add/<%= result.id; %>">
                <div class="mb-3">
                  <input type="text" class="form-control" name="nama_asset" placeholder="Nama Asset">
                </div>
                <div class="mb-3">
                  <input type="number" class="form-control" name="harga_asset" placeholder="Harga Asset">
                </div>
                <button type="submit" class="btn btn-primary">Kirim</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table mt-2 text-center">
    <thead>
      <tr>
        <th>#</th>
        <th>Nama</th>
        <th>Harga</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>

        <tr>
          <th>#</th>
          <td>Ipon</td>
          <td>20000</td>
          <td><a href="#" class="btn btn-outline-danger" onclick="return confirm('Are you sure ?')">Hapus</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editAsset">
              <b>Edit</b>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="editAsset" tabindex="-1" aria-labelledby="editAssetLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Data Asset</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form method="post" action="/members/add">
                      <div class="mb-3">
                        <input type="text" class="form-control" name="nama_asset" placeholder="Nama Asset">
                      </div>
                      <div class="mb-3">
                        <input type="number" class="form-control" name="harga_asset" placeholder="Harga Asset">
                      </div>
                      <button type="submit" class="btn btn-primary">Kirim</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
    </tbody>
  </table>
</div>
<%- include('layouts/footer') %>
